.SideBar.show{
    width: 250px;

    .actions{
        li{
            justify-content: start;
        }
    }
    .userData{
        justify-content: start;
    }
}
.SideBar {
    position: fixed;
    height: 100%;
    width: 95px;
    border-right: 1px solid var(--borderColor);
    box-sizing: border-box;
    padding: 80px 20px 20px 20px;
    top: 0;
    z-index: 99;
    background-color: white;

    --BG_LI: #96b2b625;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all .5s;

    .searchBar {
        width: 100%;
        box-sizing: border-box;

        input {
            width: 100%;
            padding: 12px 15px;
            box-sizing: border-box;
            border: 1px solid rgb(179, 179, 179);
            border-radius: 5px;
        }
    }


    .actions {
        margin-top: 30px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: var(--BG_LI);
            box-sizing: border-box;
            padding: 12px 15px;
            gap: 10px;
            border-radius: 5px;

            font-size: 14px;
            user-select: none;
            cursor: pointer;
            transition: all .1s;
            color: rgb(40, 40, 40);

            justify-content: center;
            transition: all .5s;
            overflow: hidden;

            span {
                font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
            }
        }

        li:hover {
            background-color: rgba(78, 146, 186, 0.347);
        }
    }

    .userData {
        margin-top: 10px;
        box-sizing: border-box;
        padding: 15px 15px;
        background-color: var(--BG_LI);
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: small;
        justify-content: center;

        overflow: hidden;

        img {
            width: 35px;
            border-radius: 50%;
        }

        p {
            color: rgb(58, 58, 58);
        }
    }

}