.navbar {
  width: 100%;
<<<<<<< HEAD
  height: 3rem;
  margin-top: 1rem;
  position: sticky;
=======
  height: 4rem;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
  justify-content: space-between;
  // box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.092);
>>>>>>> 689bbeaf31debc67d7cb035db913ecd0cd853616

  .logo {
    float: left;
    margin-left: 1em;
  }

  .profile-img {
    margin-right: 1rem;
    float: right;
    width: 40px;
    border-radius: 50%;
  }
}